extends layout

block content
  #toc
    p Table of Contents
    ul
      li 
        a(href="#TLS") Type and Language Search
      li
        a(href="#Example_Type") JSON example for type parameter only
      li
        a(href="#Example_Language") JSON example for language parameter only
      li
        a(href="#Example_Both") JSON example for type and langauge parameter

  #TLS
    h3 Type and Language Search
    h5 route: "/api/category"
    h5 return: JSON
    h5 format: /api/category?[type={type_of_title}][language={type_of_language}]
    br
    h4 
      u Filter Parameters

    h5 By type (Optional)
    a(href="/api/category?type=LIGHT_NOVEL")
      /api/category?type=LIGHT_NOVEL
    p 
      | Either parameter may be present. Current available types includes: 
      b LIGHT_NOVEL, TEASER, ORIGINAL_NOVEL. 
      | It is 
      b case insensitive.


    h5 By language (Optional)
    a(href="/api/category?type=ENGLISH")
      /api/category?language=ENGLISH
    p 
      | Either parameter may be present. Language must be given in it's english name.
      b english name. 
      | It is 
      b case insensitive.

    br

    h4 
      u JSON properties
    p There are different responses for different parameter combinations.

    .row#Example_Type
      .col-md-7      
        h5 Type
        p (JSON) Shows the language available for that particular type.
        ul 
          li 
            h5 type
            p 
              | (STRING) type of title, e.g. 
              b Light_novel, teaser, Original_novel.
          li 
            h5 language
            p  
              | (LIST) languages available for that type. 
      .col-md-5
        h4 
          | Example response using 
        a(href="/api/category?type=LIGHT_NOVEL")
          code /api/category?type=LIGHT_NOVEL
        #json_display_1
    br
    .row#Example_Language
      .col-md-7 
        h5 Language
        p (JSON) Shows the types available for that particular language.
        ul 
          li 
            h5 language
            p 
              | (STRING) Language being queried 
          li 
            h5 language
            p  
              | (LIST) types available for that language. 
      .col-md-5
        h4 
          | Example response using 
        a(href="/api/category?language=ENGLISH")
          code /api/category?language=ENGLISH
        #json_display_2
    br
    .row#Example_Both
      .col-md-7  
        h5 Type&Language
        p (JSON) Shows the titles available that is of type and language
        ul 
          li 
            h5 type
            p 
              | (STRING) type of the titles
          li 
            h5 language
            p  
              | (LIST) language of the titles
          li 
            h5 titles
            p 
              | (LIST) JSON data of the titles
              ul
                li 
                  h5 title
                  p (STRING) title name of the book
                li 
                  h5 page
                  p (STRING) interwiki main page title of the book.
                li 
                  h5 lastreviseddate
                  p (STRING) The data and time of the last revision, in UTC+0.
                li 
                  h5 lastrevisedid
                  p (NUMBER) the unique id of the last revison.
                li 
                  h5 pageid
                  p (NUMBER) the unique id of the main page of the book
      .col-md-5
        h4 
          | Example response using 
        a(href="/api/category?type=LIGHT_NOVEL&language=ARABIC")
          code /api/category?type=LIGHT_NOVEL&language=ARABIC
        #json_display_3

block scripts
  script.
    $(document).ready(function() {
      $('#json_display_1').JSONView(data_1).JSONView('toggle',1);
      $('#json_display_2').JSONView(data_2)
      $('#json_display_3').JSONView(data_3);
    });
    data_1={"types":"Light_novel","language":["Arabic","Brazilian Portuguese","Bulgarian","Croatian","Czech","Dutch","English","Esperanto","Filipino","French","German","Greek","Hungarian","Indonesian","Italian","Korean","Lithuanian","Macedonian","Myanmar","Norwegian","Polish","Romanian","Russian","Spanish","Swedish","Turkish","Vietnamese"]};
    data_2={"language":"English","types":["Light_novel","Teaser","Web_novel"]};
    data_3={"type":"Light_novel","language":"Arabic","titles":[{"page":"Suzumiya_haruhi_arabic-سوزوميا_هاروهي","title":"Suzumiya haruhi arabic-سوزوميا هاروهي","lastreviseddate":"2014-08-14T15:56:18Z","lastrevisedid":381727,"pageid":33699},{"page":"Sword_Art_Online_Arabic_Version","title":"Sword Art Online Arabic Version","lastreviseddate":"2014-08-05T07:56:44Z","lastrevisedid":378229,"pageid":40186}]};