extends layout

block content
  .toc
    p Table of Contents
    ul
      li 
        a(href="#GS") Genre Search
      li 
        a(href="#Example") JSON example

  h3#GS Genre Search
  h5 route: "/api/genre"
  h5 return: JSON
  h5 format: /api/genre?list={list_of_genres}
  br
  h4 
    u Filter Parameters

  h5 By list
  a(href="/api?list=action|romance")
    /api?title=Zero_no_Tsukaima 
  p 
    | This parameter 
    b must be present 
    | to continue. The values are separated by a 
    b pipe ("|")
    | character. It is 
    b case-insensitive.

  br

  h4 
    u JSON properties
  .row#Example
    .col-md-7
      h5 genres
      p (STRING) The list of genres that have been queried.

      h5 titles
      p (LIST) JSON data of the titles.
      ul
        li 
          h5 title
          p (STRING) title name of the book
        li 
          h5 page
          p (STRING) interwiki main page title of the book.
        li 
          h5 lastreviseddate
          p (STRING) The data and time of the last revision, in UTC+0.
        li 
          h5 lastrevisedid
          p (NUMBER) the unique id of the last revison.
        li 
          h5 pageid
          p (NUMBER) the unique id of the main page of the book
    .col-md-5
      h4 
        | Example response using 
      a(href="/api/genre?list=shoujo|comedy")
      code /api/genre?list=shoujo|comedy
      #json_display


block scripts
  script.
    $(document).ready(function() {
      $('#json_display').JSONView(data);
    });
    data={"genres":["shoujo","comedy"],"titles":{"2974":{"page":"Ghost_Hunt","title":"Ghost Hunt","lastreviseddate":"2015-09-18T00:36:56Z","pageid":2974}}};