extends layout

block content
  a(href="https://github.com/Shadowys/btapi")
    h2 Baka Tsuki API
  h5 
    | Welcome to the new 
    b REST API 
    | centre. I'm planning to cleanup the current API provided by mediawiki 
    | so that there would be a unified API for accessing Baka Tsuki data.

  p The API always returns JSON and is based on filtering.

  br
  a(href="/series")
    h4 Series Search
  a(href="/category")
    h4 Series Search

  h4 Type or Language Search - Parameters
  h5 By type
  a(href="/api?type=LIGHT_NOVEL")
    /api?type=LIGHT_NOVEL
  p 
    | This parameter is 
    b case insensitive.

