extends layout

block content
  a(href="https://github.com/Shadowys/btapi")
    h2 Baka Tsuki API
  h5 
    | Welcome to the new 
    b REST API 
    | centre. I'm planning to cleanup the current API provided by mediawiki 
    | so that there would be a unified API for accessing Baka Tsuki data.

  p The API always returns JSON and is based on filtering.
  br
  p Click the links below to get started

  a(href="/series.html")
    h4 Light Novel Search (GET "/api")
  a(href="/category.html")
    h4 Type, Language, Tags Search (GET "/api/category")
  a(href="/time.html")
    h4 Time and Revision Search (GET "/api/time")
  a(href="/genre.html")
    h4 Genre Search (GET "/api/genre")

  br
  p Help needed : documentation cleanup 
