extends layout

block content
  a(href="https://github.com/Shadowys/btapi")
    h2 Baka Tsuki API
  h5 
    | Welcome to the new 
    b REST API 
    | centre. I'm planning to cleanup the current API provided by mediawiki 
    | so that there would be a unified API for accessing Baka Tsuki data.

  p The API always returns JSON and is based on filtering.

  h3 Filter Parameters

  h4 By title
  a(href="/api?title=Zero_no_Tsukaima")
    /api?title=Zero_no_Tsukaima 
  p 
    | This parameter 
    b must be present 
    | to continue.

  h4 By series 
  a(href="/api?title=Chrome_Shelled_Regios&series=chrome|regios")
    /api?title=Chrome_Shelled_Regios&series=chrome|regios 
  p 
    | This parameter can be a 
    b regex 
    | of the series name. The example above uses the pipe character.

  h4 By volume
  a(href="/api?title=Chrome_Shelled_Regios&series=chrome&volume=15|log")
    /api?title=Chrome_Shelled_Regios&series=chrome&volume=15|log 
  p 
    | This parameter can be a 
    b regex 
    | of the volume name, which includes the volume number. The example above uses the pipe character.

  h4 By volume number
  a(href="/api?title=Chrome_Shelled_Regios&series=chrome&volumeno=1")
    /api?title=Chrome_Shelled_Regios&series=chrome&volumeno=1 
  p 
    | This parameter must be a 
    b number
    | . Other characters will be removed.



