doctype html
html
  head
    title Baka Tsuki API
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.jsonview.css')
  body
    block content
    script(src='javascripts/jquery-2.1.1.js')
    script(src='javascripts/jquery.jsonview.js')
    block scripts