extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/webindex.css')
block content
  section#genre-buttons
    h1 
      | Loading...
      i.fa.fa-circle-o-notch.fa-spin
block scripts
  script(src='javascripts/webindex.js')