body {
  padding: 100px;
  font-size: 16px ;
}

code {
  font-size: 16px;
}

.hide{
  display: none;
}
#toc{
  width: 100%;
  background-color: aliceblue;
}
@media(min-width: 768px){
  .mobile-only{
    display:none;
  }
}
.tooltip > .tooltip-inner {background-color: black;}
.tooltip.in {
  opacity: 0.95;
  filter: alpha(opacity=95);
}
.nav.navbar-nav{
  overflow: hidden;
}